<div class="container-md" *ngIf="profile">
    <ul class="list-group">
        <li class="list-group-item active"></li>
        <li class="list-group-item disabled">Name: {{profile.name}}</li>
        <li class="list-group-item disabled">Email: {{profile.email}}</li>
        <li class="list-group-item disabled">Address: {{profile.address}}</li>
        <li class="list-group-item disabled">Member start date: {{profile.member_since}}</li>
        <li class="list-group-item disabled">Phone: {{profile.phone}}</li>
    </ul>
</div>